<div style="height: 100%; margin: 0; padding: 0; background-color: #272827">
    <div class="d-flex justify-content-center align-items-center flex-column" style="color: red; border: 0; height: 100vh; overflow: hidden;">
        <div style="position: relative; width: 100vw; height: 100vh;">
            <img src="../assets/Verzija_1.png" style="width: auto; height: 100%; max-width: 100%; position: absolute; bottom: 20%; left: 50%; transform: translateX(-50%) scale(0.8); object-fit: contain;">
            <div style="overflow: visible; position: absolute; top: 70vh; left: 50%; transform: translate(-50%, -50%); text-align: center; width: 100%;">
                <p style="font-size: 4.5rem; color: white; margin: 0; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); font-weight: bold;">
                    USKORO
                </p>
                    <p style="font-size: 3rem; color: white; margin: 0; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);">
                        Posetite nas na Instagramu
                    </p>
                    <p><i class="fa fa-arrow-down" style="font-size: 30px; color: white; margin: 0; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);"></i></p>
                    <a href="https://www.instagram.com/graficke.rs/" target="_blank">
                        graficke.rs <i class="fab fa-instagram"></i>
                    </a>
            </div>
        </div>
    </div>
</div>